body {
    background-color: #d7e3e2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100%;
    height: auto;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.UserListBox, .UserInfoBox {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.UserListBox {
    border-top-left-radius: 1.5%;
    border-bottom-left-radius: 1.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 370px;
    height: 550px;
}

.UserInfoBox {
    border-top-right-radius: 1.5%;
    border-bottom-right-radius: 1.5%;
    width: 470px;
    height: 550px;
    position: relative;
}

.UserListBox h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    margin-left: 30px;
}

.message-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    list-style-type: none;
    padding: 0 12px;
    margin: 0;
}

.message-list li {
    white-space: pre-wrap;
    color: #949393;
    margin: 0 0 12px;
    padding: 20px;
    font-size: 13px;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
} 

.message-list li figcaption .name {
    color: #3f4145;
    font-size: 16px;
    font-weight: 900; 
}

.message-list li figure {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-list li figure img {
    width: 50px;
    max-height: 50px;
    border-radius: 25px;
}

.user-details text {
    width: 100%;
}

.user-details .left-column {
    width: 50%;
    float: left;
    margin-top: -13px;
}

.user-details figure .value {
    margin: 0 0 12px;
    padding: 12px;
    bottom: 20px;
    font-size: 12px;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer; 
}


.user-details figure .name {
    color: #3f4145;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 4px;
}

.user-details figure .username {
    color: #949393;
    font-size: 15px;
}

.user-details figure .text {
    color: #949393;
    font-size: 15px;
    margin-top: 10px;
}

.user-details img {
    margin-top: 10px;
    width: 50px;
    max-height: 50px;
    border-radius: 25px;
    float: left;
}

.loading {
   position: absolute;
   color: #949393;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

